.a-navMobile{

    &__modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000087;
        z-index: -1;
        opacity: 0;
        transition: .3s ease-in;
        display: flex;
        justify-content: flex-end;
    }

    .modal-open{
        opacity: 1;
        z-index: 9999;
    }

    nav{
        padding: 5rem 6rem;
        background-color: #F7BB12;
        width: 65%;

        @media (max-width: 500px) {
            padding: 5rem 4rem;
            width: 80%;
        }

        button{
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }

    &__links{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;

        a{  
            text-transform: uppercase;
            letter-spacing: 0.185em;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: #3f3f3f;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            &:not(:first-child){
                border-top: 0.7px solid #3f3f3f;
            }
        }
    }
}